<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>About</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      "About" es una palabra en inglés que significa "acerca de" o "sobre". Se
      utiliza comúnmente en títulos y encabezados para indicar el tema o
      contenido de un artículo o documento. También puede ser usada en una
      conversación casual como sinónimo de "aproximadamente" o "más o menos". En
      resumen, "About" es una palabra útil y versátil que se puede encontrar en
      muchos contextos diferentes.
    </p>
    <a href="/">Back to home</a>
  </body>
</html>
