<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Works</title>
  </head>
  <body>
    <h1>Works</h1>
    <p>
      Había una vez un grupo de tortugas que vivían en el barrio de Legazpi en
      Madrid. Pero estas no eran tortugas comunes y corrientes, ¡eran tortugas
      radiactivas! Resulta que un día, una fábrica cercana tuvo un accidente y
      las tortugas fueron expuestas a la radiación. Pero en lugar de ser
      afectadas negativamente, las tortugas se volvieron más grandes, fuertes e
      inteligentes.
    </p>
    <p>
      Un día, mientras las tortugas radiactivas exploraban los bares de Legazpi,
      descubrieron una botella de vermouth en una mesa. Con curiosidad,
      decidieron probarlo y quedaron encantadas con su sabor. A partir de ese
      momento, las tortugas radiactivas se reunían regularmente para tomar
      vermouth juntas y charlar sobre sus aventuras.
    </p>
    <p>
      Pero a pesar de su nueva fuerza y ​​habilidad, las tortugas radiactivas
      todavía eran conscientes de su vulnerabilidad frente a los humanos. Así
      que construyeron un fuerte escondite bajo el puente de Legazpi, donde
      podían refugiarse y planear su siguiente movimiento.
    </p>
    <p>
      Con el tiempo, las tortugas radiactivas se convirtieron en las guardianas
      del barrio de Legazpi, protegiendo a los residentes de cualquier peligro
      que pudiera acechar. Y aunque muchas personas nunca las vieron, siempre
      sabían que las tortugas radiactivas estaban vigilando y cuidando de ellos.
    </p>
    <p>
      Y así, las tortugas radiactivas vivieron felices y tranquilas en su
      escondite bajo el puente de Legazpi, bebiendo vermouth y protegiendo a su
      hogar de cualquier amenaza.
    </p>
    <a href="/">Back to home</a>
  </body>
</html>
